<div class="row">
  <div class="col-sm-8 offset-2">
    <h4>Create an account</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="">
      <div *ngIf="!!error" class="row text-danger">
        <p>{{ error }}</p>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="col-form-label">Email</label>
          <input
            formControlName="email"
            type="text"
            class="form-control"
            placeholder="Email"
          />
          <div
            *ngIf="
              registerForm.controls['email'].invalid &&
              (registerForm.controls['email'].dirty ||
                registerForm.controls['email'].touched)
            "
            class="text-danger"
          >
            <span *ngIf="registerForm.controls['email'].errors.required">
              Email is required.
            </span>
            <span *ngIf="registerForm.controls['email'].errors.email">
              Invalid email.
            </span>
          </div>
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Password"
          />
          <div
            *ngIf="
              registerForm.controls['password'].invalid &&
              (registerForm.controls['password'].dirty ||
                registerForm.controls['password'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.controls['password'].errors.required">
              Password is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="col-form-label">First Name</label>
          <input formControlName="firstName" type="text" class="form-control" />
          <div
            *ngIf="
              registerForm.controls['firstName'].invalid &&
              (registerForm.controls['firstName'].dirty ||
                registerForm.controls['firstName'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.controls['firstName'].errors.required">
              First name is required.
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Middle Name</label>
          <input
            formControlName="middleName"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              registerForm.controls['middleName'].invalid &&
              (registerForm.controls['middleName'].dirty ||
                registerForm.controls['middleName'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.controls['middleName'].errors.required">
              Middle name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="col-form-label">Last Name</label>
          <input formControlName="lastName" type="text" class="form-control" />
          <div
            *ngIf="
              registerForm.controls['lastName'].invalid &&
              (registerForm.controls['lastName'].dirty ||
                registerForm.controls['lastName'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.controls['lastName'].errors.required">
              Last name is required.
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Birthday</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="birthDay"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="d.toggle()"
                type="button"
              >
                <i class="icon ion-ios-calendar"></i>
              </button>
            </div>
          </div>
          <div
            *ngIf="
              registerForm.controls['birthDay'].invalid &&
              (registerForm.controls['birthDay'].dirty ||
                registerForm.controls['birthDay'].touched)
            "
            class="text-danger"
          >
            <div *ngIf="registerForm.controls['birthDay'].errors.required">
              Birthday is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row m-3">
        <div class="col-12 text-center">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="registerForm.invalid"
          >
            Register
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            Already a member? <a href="#" routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
