<!-- Footer Start -->
<footer class="footer-dark">
  <div class="container">
    <h3 class="text-center">Follow us on social media:</h3>
    <div class="row">
      <div class="col item social">
        <a href="#"><i class="icon ion-logo-facebook"></i></a>
        <a href="#"><i class="icon ion-logo-twitter"></i></a>
        <a href="#"><i class="icon ion-logo-snapchat"></i></a>
        <a href="#"><i class="icon ion-logo-instagram"></i></a>
      </div>
    </div>
    <p class="copyright">MAGENIC EXPO - TEAM A © 2019</p>
  </div>
</footer>
<!-- Footer End -->
